{% load static %}{% csrf_token %}{%load math_filters%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/cardstyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>CART</title>
    <style>
      .info-input {
        padding: 10px;
        background-color: #151fe7;
        color: #fff;
        font-size: 20px;
        width: 400px;
        text-align: center;
        position: absolute;
        top: 80px;
        right: -630px;
        z-index: 9999;
      }
    </style>
  </head>

  <body>
    {% if messages %}
    <div id="message">
      {% for message in messages %}
      <div class="{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <header>
      <nav class="outernav">
        <nav class="navbar">
          <div class="head-option">
            <i class="fa fa-bars" id="internalmenu"></i>
            <span class="heading"
                ><a href="/"><img src="{% static 'logo/logo.png' %}" /><img
                  id="text-logo"
                  src="{% static 'logo/text.png' %}"
              /></a></span>
          </div>
          <form id="search-form" action="{% url 'search' %}" method="get">
            <div class="search">
              <input type="text" name="search" id="search" placeholder="Search for products" style="border: none; border-right: 1px solid black" />
              <div class="srhicon" >
                <i class="fa fa-search" onclick="search()" style="font-size: 20px"></i>
              </div>
            </div>
          </form>
          
          <div class="account" id="account">
            {% if fname %} Welcome,{{fname}} {% else %} My Account {% endif%}
            <i class="fa fa-caret-down"></i>
  
            <div class="sign" id="sign">
              <ul>
                {% if fname %}
                <a style="text-decoration: none; color:black;" href="/profile"><li>Profile</li></a>
                <hr style="margin-top:0;"/>
                <a style="text-decoration: none; color:black;" href="/logout/"><li> Sign out</li></a>
                {% else %}
                <li><a style="text-decoration: none; color:black;" href="/signin/"> Sign in</a></li>
                <hr style="margin-top:0;"/>
                <li><a style="text-decoration: none; color:black;" href="/signup/"> Sign up</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="optionlogo">
            <a href="/cart">
              <i class="fa fa-shopping-cart"></i>
              <span>0</span>
            </a>
          </div>
        </nav>
        <div id="searchid">
          <input type="text" name="search" id="search" placeholder="Search for products"
            style="border: none; border-right: 1px solid black" />
          <div class="srhicon">
            <i class="fa fa-search" style="font-size: 20px"></i>
          </div>
        </div>
        <nav class="addtionalnav" id="addnav">
          <div class="optioncategory">
            <div class="checklogin">
              <a href="#">
                <i class="fa fa-user-circle-o"></i>
                <span class="checksignin">{% if fname %} {{fname}} {% else %} Sign in {% endif %}</span>
                <span class="checksignout">Sign out</span>
              </a>
            </div>
            <div class="container" id="dropmenu">
              <div class="innercontainer">
                <i class="fa fa-bars"></i>
                <span>CATEGORY</span>
              </div>
              <i class="fa fa-caret-down"></i>
              <div class="options-menus" id="menu">
                <ul>
                  {% if categories %} {% for category in categories %}
                  <li>
                    <a href="/search/?category={{category.id}}"
                      >{{category.name}}</a
                    >
                  </li>
                  {% endfor %} {% endif %}
                </ul>
              </div>
            </div>
            <div class="options">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li id="drop" style="display: none;">
                  Pages
                  <i class="fa fa-caret-down" style="color: #fff; padding: 5px"></i>
                  <div class="options-drop" id="drop-down">
                    <a href="">Page 1</a>
                    <a href="">Page 2</a>
                  </div>
                </li>
                <li><a href="/">Contact</a></li>
              </ul>
            </div>
          </div>
  
          <div class="optionlogo">
            <a href="/cart">
              <i class="fa fa-shopping-cart"></i>
              <span>{% if count %} {{count}} {% else %} 0 {% endif %}</span>
            </a>
          </div>
          <div class="close" id="close">
            <i class="fa fa-close"></i>
          </div>
        </nav>
      </nav>
    </header>
    <main class="main">
      <div class="allproducts">
        <div class="productshead">
          <span>PRODUCT NAME</span>
          <span>PRICE</span>
          <span>QUANTITY</span>
          <span>TOTAL</span>
          <span>REMOVE</span>
        </div>
        {% if citems %} {% for item in citems %}
        <div class="productitem">
          <span class="productname">{{ item.product.name }}</span>
          <span class="productprice">{{ item.product.price }}</span>
          <div class="incdec" style="margin-top:0;" data-product-id="{{ item.product.id }}">
            <button class="decrement">-</button>
            <span class="number">{{ item.quantity }}</span>
            <button class="increment">+</button>
          </div>
          <span class="producttotal"
            >{{ item.product.price|multiply:item.quantity }}</span
          >
          <span class="remove" data-product-id="{{ item.product.id }}">
            <i class="fa fa-close"></i></span>
        </div>
        {%endfor%} {%endif%}
      </div>
      <div class="totalcheck">
        <div class="cardtotal">
          <span>Cart Check</span>
          <span class="line"></span>
        </div>
        {% if citems %} {% for item in citems %}
        <div class="allprices">
          <span>{{item.product.name}} x {{item.quantity}}</span>
          <span class="subtotal"
            >{{ item.product.price|multiply:item.quantity }}</span
          >
        </div>
        {%endfor%} {%endif%}

        <hr />
        <div class="total">
          <span>Total</span>
          <span class="maintotal">RS. {{cart_total}}/-</span>
        </div>
        <div class="btntotal" id="checkout">Procced To Checkout</div>
      </div>
    </main>
    <span class="up"
      ><i class="fas fa-angle-double-up" style="font-size: 24px"></i
    ></span>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="footer-container">
        <div class="row">
          <div class="footer-inner-container">
            <h6>About</h6>
            <p class=" text-justify">Our Ecommerce Website offers a wide range of products from various categories like Electronics, Cosmetics and Body Care, Food and Beverage, Furniture and Decor, Health and Wellness, Household Items, Media, Pet Care, Office Equipment, and more. We provide a user-friendly and secure platform for customers to shop from the comfort of their homes. </p>
          </div>
  
          <div class="footer-inner-container">
            <h6>Categories</h6>
            <ul class="footer-links">
              {% if categories %} {% for category in categories %}
                  <li>
                    <a href="/search/?category={{category.id}}"
                      >{{category.name}}</a
                    >
                  </li>
                  {% endfor %} {% endif %}
            </ul>
          </div>
  
          <div class="footer-inner-container">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/cart">Cart</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer-container">
        <div class="row">
          <div class="copyrightcontainer">
            <p class=" copyright-text">Copyright &copy; 2023 All Rights Reserved by AA
            </p>
          </div>
          <div class="footer-icons">
            <ul class="social-icons">
              <li><a class="facebook" href="https://github.com/abhiCrackerOfficial/" style="display: flex;justify-content: center;align-items: center;"><i class="fa fa-github"></i></a></li>
              <li><a class="twitter" href="https://github.com/iamamritpalrandhawa/" style="display: flex;justify-content: center;align-items: center;"><i class="fa fa-github"></i></a></li>
              {% comment %} <li><a class="dribbble" href="#" style="display: flex;justify-content: center;align-items: center;"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#" style="display: flex;justify-content: center;align-items: center;"><i class="fa fa-linkedin"></i></a></li> {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </footer>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'JS/main.js' %}"></script>
    <script src="{% static 'JS/cardjs.js' %}"></script>
    <script>
      
      $(function () {
        const messageElem = $("#message > div");
        if (messageElem.hasClass("error")) {
          messageElem.addClass("invalid-input");
        } else if (messageElem.hasClass("success")) {
          messageElem.addClass("success-input");
        }

        messageElem.animate(
          {
            right: 0,
          },
          1000,
          function () {
            if (messageElem.hasClass("success-input")) {
              $(this)
                .delay(2000)
                .fadeOut(function () {
                  // Redirect to the home page after 2 seconds
                  window.location.href = "{% url 'home' %}";
                });
            } else {
              $(this).delay(2000).fadeOut();
            }
          }
        );
      });
      document.addEventListener("DOMContentLoaded", () => {
        const removeButtons = document.querySelectorAll(".remove");

        removeButtons.forEach((button) => {
          button.addEventListener("click", (event) => {
            const productId =
              event.currentTarget.getAttribute("data-product-id");
            const csrfToken = document.getElementsByName(
              "csrfmiddlewaretoken"
            )[0].value;

            fetch(`/remove_from_cart/${productId}/`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken,
              },
            })
              .then((response) => {
                if (response.ok) {
                  return response.json();
                }
                throw new Error("Error removing product from cart");
              })
              .then((data) => {
                // Update cart count or show a message to the user
                console.log("Product removed from cart");
                // Refresh the page after updating the cart
                window.location.reload();
              })
              .catch((error) => {
                console.error("Error:", error);
                // Refresh the page after catching an error
                window.location.reload();
              });
          });
        });
      });

      document.addEventListener("DOMContentLoaded", function () {
  const incDecContainers = document.querySelectorAll(".incdec");

  incDecContainers.forEach((container) => {
    const productId = container.dataset.productId;
    const decrementBtn = container.querySelector(".decrement");
    const incrementBtn = container.querySelector(".increment");
    const quantitySpan = container.querySelector(".number");

    decrementBtn.addEventListener("click", () => {
      changeQuantity(productId, "decrement");
    });

    incrementBtn.addEventListener("click", () => {
      changeQuantity(productId, "increment");
    });

    function changeQuantity(productId, operation) {
      const url = `/change_quantity/${productId}/${operation}/`;

      fetch(url, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": document.getElementsByName(
              "csrfmiddlewaretoken"
            )[0].value,
        },
        credentials: "same-origin",
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Network response was not ok.");
          }
        })
        .then((data) => {
          if (data.status === "success") {
            window.location.reload();
          }
        })
        .catch((error) => {
          console.error("Error in changeQuantity:", error);
        });
    }
  });
});
document.getElementById("checkout").addEventListener("click", function() {
    window.location.href = "/checkout";
});
    </script>
  </body>
</html>
